*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.container{
    background: #E8E8FD;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard{
    background:  #FFFFFF;
    padding: 120px;
}